{% extends 'base.html.twig' %}

{% block title %}Edit Kebab{% endblock %}

{% block body %}
    <h1>Edit Kebab</h1>

    {{ include('kebab/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('kebab_index') }}">back to list</a>

    {{ include('kebab/_delete_form.html.twig') }}
{% endblock %}
