{% extends 'base.html.twig' %}

{% block title %}Kebab index{% endblock %}

{% block body %}
    <h1>Kebab index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prix TTC</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for kebab in kebabs %}
            <tr>
                <td>{{ kebab.id }}</td>
                <td>{{ kebab.name }}</td>
                <td>{{ getPriceWithVat(kebab.price)|number_format(2) }}</td>
                <td>
                    <a href="{{ path('kebab_show', {'id': kebab.id}) }}">show</a>
                    <a href="{{ path('kebab_edit', {'id': kebab.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('kebab_new') }}">Create new</a>
{% endblock %}
