{% extends 'base.html.twig' %}

{% block title %}New Kebab{% endblock %}

{% block body %}
    <h1>Create new Kebab</h1>

    {{ include('kebab/_form.html.twig') }}

    <a href="{{ path('kebab_index') }}">back to list</a>
{% endblock %}
