{% extends 'base.html.twig' %}

{% block title %}Kebab{% endblock %}

{% block body %}
    <h1>Kebab</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ kebab.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ kebab.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ priceWithVat }} &euro;</td>
            </tr>
            <tr>
                <th>Ingredients</th>
                <td>
                    {% for ingredient in kebab.ingredients %}
                    {{ ingredient.name }}
                    {% else %}
                        No ingredients
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('kebab_index') }}">back to list</a>

    <a href="{{ path('kebab_edit', {'id': kebab.id}) }}">edit</a>

    {{ include('kebab/_delete_form.html.twig') }}
{% endblock %}
